/* Styling for the header */
.header {
  background-color: rgb(187, 207, 216);
  padding: 20px;
  text-align: center;
  font-style: oblique;
  margin: 20px;
}

/* Background color of the webpage */
body {
  background-color: rgb(236, 241, 243);
}

/*Styling for the images */
#picture {
  width: 10%;
  float: left;
  padding: 10px;
}

/*Styling for the footer */
.footer {
  background-color: rgb(187, 207, 216);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  margin: 20px;
}
